In [9]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
df = pd.read_csv('../Datasets/brent.csv')

In [11]:
df.head()

         Date  OpenBrent  HighBrent  LowBrent  CloseBrent  VolumeBrent
0  2000-01-04      23.90      24.70     23.89       24.39        32509
1  2000-01-05      24.25      24.37     23.70       23.73        30310
2  2000-01-06      23.55      24.22     23.35       23.62        44662
3  2000-01-07      23.57      23.98     23.05       23.09        34826
4  2000-01-10      23.04      23.78     23.04       23.73        26388

In [12]:
df.shape

(5764, 6)

In [13]:
df.head()

         Date  OpenBrent  HighBrent  LowBrent  CloseBrent  VolumeBrent
0  2000-01-04      23.90      24.70     23.89       24.39        32509
1  2000-01-05      24.25      24.37     23.70       23.73        30310
2  2000-01-06      23.55      24.22     23.35       23.62        44662
3  2000-01-07      23.57      23.98     23.05       23.09        34826
4  2000-01-10      23.04      23.78     23.04       23.73        26388

In [14]:
df.drop(['Date', 'VolumeBrent'], axis=1, inplace=True)

In [15]:
df.head()

   OpenBrent  HighBrent  LowBrent  CloseBrent
0      23.90      24.70     23.89       24.39
1      24.25      24.37     23.70       23.73
2      23.55      24.22     23.35       23.62
3      23.57      23.98     23.05       23.09
4      23.04      23.78     23.04       23.73

In [16]:
df.corr()

            OpenBrent  HighBrent  LowBrent  CloseBrent
OpenBrent    1.000000   0.999521  0.999396    0.998965
HighBrent    0.999521   1.000000  0.999189    0.999434
LowBrent     0.999396   0.999189  1.000000    0.999579
CloseBrent   0.998965   0.999434  0.999579    1.000000

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
xTrain, xTest, yTrain, yTest = train_test_split(df.drop(['CloseBrent'], axis=1), df['CloseBrent'], test_size=0.2, random_state=42)

In [20]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

In [21]:
model1 = LinearRegression()
model2 = XGBRegressor()
model3 = RandomForestRegressor()

In [22]:
model1.fit(xTrain, yTrain)
model2.fit(xTrain, yTrain)
model3.fit(xTrain, yTrain)

RandomForestRegressor()

In [23]:
yPred1 = model1.predict(xTest)
yPred2 = model2.predict(xTest)
yPred3 = model3.predict(xTest)

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
print('Linear Regression: ', np.sqrt(mean_squared_error(yTest, yPred1)))
print('XGBoost: ', np.sqrt(mean_squared_error(yTest, yPred2)))
print('Random Forest: ', np.sqrt(mean_squared_error(yTest, yPred3)))

Linear Regression:  0.5682050325346026
XGBoost:  0.7018633752809779
Random Forest:  0.6597199202628903

In [26]:
from sklearn.metrics import r2_score

In [27]:
print('Linear Regression: ', r2_score(yTest, yPred1))
print('XGBoost: ', r2_score(yTest, yPred2))
print('Random Forest: ', r2_score(yTest, yPred3))

Linear Regression:  0.9996312357822562
XGBoost:  0.9994373429265748
Random Forest:  0.9995028839130287

In [28]:
model1.predict([[23.04, 25.05, 22.98]])

/Users/maverick/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24.56523133])

In [29]:
import pickle

In [30]:
pickle.dump(model1, open("../Models/brent_prediction.pkl", 'wb'))