In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../Datasets/crude.csv')

In [3]:
df.head()

         Date  OpenCrude  HighCrude  LowCrude  CloseCrude  VolumeCrude
0  2000-01-04      25.20      25.69     24.71       25.55        74788
1  2000-01-05      25.50      25.61     24.87       24.91        70944
2  2000-01-06      24.80      25.34     24.51       24.78        85252
3  2000-01-07      24.65      25.00     24.15       24.22        91828
4  2000-01-10      24.22      24.75     24.02       24.67        68901

In [4]:
df.shape

(5639, 6)

In [5]:
df.head()

         Date  OpenCrude  HighCrude  LowCrude  CloseCrude  VolumeCrude
0  2000-01-04      25.20      25.69     24.71       25.55        74788
1  2000-01-05      25.50      25.61     24.87       24.91        70944
2  2000-01-06      24.80      25.34     24.51       24.78        85252
3  2000-01-07      24.65      25.00     24.15       24.22        91828
4  2000-01-10      24.22      24.75     24.02       24.67        68901

In [6]:
df.drop(['Date', 'VolumeCrude'], axis=1, inplace=True)

In [7]:
df.head()

   OpenCrude  HighCrude  LowCrude  CloseCrude
0      25.20      25.69     24.71       25.55
1      25.50      25.61     24.87       24.91
2      24.80      25.34     24.51       24.78
3      24.65      25.00     24.15       24.22
4      24.22      24.75     24.02       24.67

In [8]:
df.corr()

            OpenCrude  HighCrude  LowCrude  CloseCrude
OpenCrude    1.000000   0.999244  0.999217    0.990184
HighCrude    0.999244   1.000000  0.998817    0.991537
LowCrude     0.999217   0.998817  1.000000    0.990485
CloseCrude   0.990184   0.991537  0.990485    1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xTrain, xTest, yTrain, yTest = train_test_split(df.drop(['CloseCrude'], axis=1), df['CloseCrude'], test_size=0.2, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

In [12]:
model1 = LinearRegression()
model2 = XGBRegressor()
model3 = RandomForestRegressor()

In [13]:
model1.fit(xTrain, yTrain)
model2.fit(xTrain, yTrain)
model3.fit(xTrain, yTrain)

RandomForestRegressor()

In [14]:
yPred1 = model1.predict(xTest)
yPred2 = model2.predict(xTest)
yPred3 = model3.predict(xTest)

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
print('Linear Regression: ', np.sqrt(mean_squared_error(yTest, yPred1)))
print('XGBoost: ', np.sqrt(mean_squared_error(yTest, yPred2)))
print('Random Forest: ', np.sqrt(mean_squared_error(yTest, yPred3)))

Linear Regression:  3.34308252482744
XGBoost:  3.122431733417876
Random Forest:  3.024940499643419

In [17]:
from sklearn.metrics import r2_score

In [18]:
print('Linear Regression: ', r2_score(yTest, yPred1))
print('XGBoost: ', r2_score(yTest, yPred2))
print('Random Forest: ', r2_score(yTest, yPred3))

Linear Regression:  0.983945215107323
XGBoost:  0.9859945779590266
Random Forest:  0.9868555030674887

In [19]:
model1.predict([[23.04, 25.05, 22.98]])

/Users/maverick/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([25.32387578])

In [20]:
import pickle

In [21]:
pickle.dump(model1, open("../Models/crude_prediction.pkl", 'wb'))