In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../Datasets/natural.csv')

In [3]:
df.head()

,Date,OpenNatural,HighNatural,LowNatura,CloseNatural,VolumeNatural
0,2000-01-04,2.130,2.200,2.130,2.176,30152
1,2000-01-05,2.180,2.200,2.125,2.168,27946
2,2000-01-06,2.165,2.220,2.135,2.196,29071
3,2000-01-07,2.195,2.230,2.155,2.173,28455
4,2000-01-10,2.180,2.255,2.165,2.216,28916

In [4]:
df.shape

(5634, 6)

In [5]:
df.head()

,Date,OpenNatural,HighNatural,LowNatura,CloseNatural,VolumeNatural
0,2000-01-04,2.130,2.200,2.130,2.176,30152
1,2000-01-05,2.180,2.200,2.125,2.168,27946
2,2000-01-06,2.165,2.220,2.135,2.196,29071
3,2000-01-07,2.195,2.230,2.155,2.173,28455
4,2000-01-10,2.180,2.255,2.165,2.216,28916

In [6]:
df.drop(['Date', 'VolumeNatural'], axis=1, inplace=True)

In [7]:
df.head()

   OpenNatural  HighNatural  LowNatura  CloseNatural
0        2.130        2.200      2.130         2.176
1        2.180        2.200      2.125         2.168
2        2.165        2.220      2.135         2.196
3        2.195        2.230      2.155         2.173
4        2.180        2.255      2.165         2.216

In [8]:
df.corr()

              OpenNatural  HighNatural  LowNatura  CloseNatural
OpenNatural      1.000000     0.998586   0.998707      0.997176
HighNatural      0.998586     1.000000   0.998135      0.998604
LowNatura        0.998707     0.998135   1.000000      0.998796
CloseNatural     0.997176     0.998604   0.998796      1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xTrain, xTest, yTrain, yTest = train_test_split(df.drop(['CloseNatural'], axis=1), df['CloseNatural'], test_size=0.2, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

In [12]:
model1 = LinearRegression()
model2 = XGBRegressor()
model3 = RandomForestRegressor()

In [13]:
model1.fit(xTrain, yTrain)
model2.fit(xTrain, yTrain)
model3.fit(xTrain, yTrain)

RandomForestRegressor()

In [14]:
yPred1 = model1.predict(xTest)
yPred2 = model2.predict(xTest)
yPred3 = model3.predict(xTest)

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
print('Linear Regression: ', np.sqrt(mean_squared_error(yTest, yPred1)))
print('XGBoost: ', np.sqrt(mean_squared_error(yTest, yPred2)))
print('Random Forest: ', np.sqrt(mean_squared_error(yTest, yPred3)))

Linear Regression:  0.07298467455367033
XGBoost:  0.09589334705911438
Random Forest:  0.0951812466158899

In [17]:
from sklearn.metrics import r2_score

In [18]:
print('Linear Regression: ', r2_score(yTest, yPred1))
print('XGBoost: ', r2_score(yTest, yPred2))
print('Random Forest: ', r2_score(yTest, yPred3))

Linear Regression:  0.9989385986271551
XGBoost:  0.9981677140627341
Random Forest:  0.9981948259964608

In [19]:
model1.predict([[23.04, 25.05, 22.98]])

/Users/maverick/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24.51500122])

In [20]:
import pickle

In [21]:
pickle.dump(model1, open("../Models/natural_gas_prediction.pkl", 'wb'))